<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>AppBox Pro</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>db-ody0cjvmnaxvob4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>AppBoxPro</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-0532362805885914~1060959345</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>dbapi-2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>AppBox Pro® would like to access the calendar to save an event read from QR Code reader.</string>
	<key>NSCameraUsageDescription</key>
	<string>AppBox Pro® would like to access your camera to take pictures for QR Code, Mirror and Magnifier.</string>
	<key>NSContactsUsageDescription</key>
	<string>AppBox Pro® would like to access your Photo Library to save pictures from Mirror and Magnifier.</string>
	<key>NSHealthShareUsageDescription</key>
	<string>AppBox Pro® reads Floors ascended, Steps, and Walking + Running Distance from Apple HealthKit data.

Data collected from HealthKit will not be used for marketing and advertising purposes.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>AppBox Pro® reads Floors ascended, Steps, and Walking + Running Distance from Apple HealthKit data.

Data collected from HealthKit will not be used for marketing and advertising purposes.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is used to show weather and holidays.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>AppBox Pro® would like to access your microphone to take videos for Wallet.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>AppBox Pro® would like to access Photo Library to add pictures and videos for Wallet and Days Counter.</string>
	<key>NSUbiquitousContainerName</key>
	<string>com.e2ndesign.TPremium2</string>
	<key>NSUbiquitousDisplaySet</key>
	<string>com.e2ndesign.TPremium2</string>
	<key>UIAppFonts</key>
	<array>
		<string>appbox.ttf</string>
		<string>Digit.ttf</string>
		<string>REGISTER.TTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen~iphone</string>
	<key>UILaunchStoryboardName~ipad</key>
	<string>Launch Screen~ipad.storyboard</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
