<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>af</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Afrikaans</string>
		<key>nativeName</key>
		<string>Afrikaans</string>
	</dict>
	<key>ar</key>
	<dict>
		<key>dir</key>
		<string>rtl</string>
		<key>name</key>
		<string>Arabic</string>
		<key>nativeName</key>
		<string>العربية</string>
	</dict>
	<key>bg</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Bulgarian</string>
		<key>nativeName</key>
		<string>Български</string>
	</dict>
	<key>bn</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Bangla</string>
		<key>nativeName</key>
		<string>বাংলা</string>
	</dict>
	<key>bs</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Bosnian</string>
		<key>nativeName</key>
		<string>bosanski (latinica)</string>
	</dict>
	<key>ca</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Catalan</string>
		<key>nativeName</key>
		<string>Català</string>
	</dict>
	<key>cs</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Czech</string>
		<key>nativeName</key>
		<string>Čeština</string>
	</dict>
	<key>cy</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Welsh</string>
		<key>nativeName</key>
		<string>Welsh</string>
	</dict>
	<key>da</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Danish</string>
		<key>nativeName</key>
		<string>Dansk</string>
	</dict>
	<key>de</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>German</string>
		<key>nativeName</key>
		<string>Deutsch</string>
	</dict>
	<key>el</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Greek</string>
		<key>nativeName</key>
		<string>Ελληνικά</string>
	</dict>
	<key>en</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>English</string>
		<key>nativeName</key>
		<string>English</string>
	</dict>
	<key>es</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Spanish</string>
		<key>nativeName</key>
		<string>Español</string>
	</dict>
	<key>et</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Estonian</string>
		<key>nativeName</key>
		<string>Eesti</string>
	</dict>
	<key>fa</key>
	<dict>
		<key>dir</key>
		<string>rtl</string>
		<key>name</key>
		<string>Persian</string>
		<key>nativeName</key>
		<string>Persian</string>
	</dict>
	<key>fi</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Finnish</string>
		<key>nativeName</key>
		<string>Suomi</string>
	</dict>
	<key>fil</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Filipino</string>
		<key>nativeName</key>
		<string>Filipino</string>
	</dict>
	<key>fj</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Fijian</string>
		<key>nativeName</key>
		<string>Fijian</string>
	</dict>
	<key>fr</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>French</string>
		<key>nativeName</key>
		<string>Français</string>
	</dict>
	<key>he</key>
	<dict>
		<key>dir</key>
		<string>rtl</string>
		<key>name</key>
		<string>Hebrew</string>
		<key>nativeName</key>
		<string>עברית</string>
	</dict>
	<key>hi</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Hindi</string>
		<key>nativeName</key>
		<string>हिंदी</string>
	</dict>
	<key>hr</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Croatian</string>
		<key>nativeName</key>
		<string>Hrvatski</string>
	</dict>
	<key>ht</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Haitian Creole</string>
		<key>nativeName</key>
		<string>Haitian Creole</string>
	</dict>
	<key>hu</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Hungarian</string>
		<key>nativeName</key>
		<string>Magyar</string>
	</dict>
	<key>id</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Indonesian</string>
		<key>nativeName</key>
		<string>Indonesia</string>
	</dict>
	<key>is</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Icelandic</string>
		<key>nativeName</key>
		<string>Íslenska</string>
	</dict>
	<key>it</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Italian</string>
		<key>nativeName</key>
		<string>Italiano</string>
	</dict>
	<key>ja</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Japanese</string>
		<key>nativeName</key>
		<string>日本語</string>
	</dict>
	<key>ko</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Korean</string>
		<key>nativeName</key>
		<string>한국어</string>
	</dict>
	<key>lt</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Lithuanian</string>
		<key>nativeName</key>
		<string>Lietuvių</string>
	</dict>
	<key>lv</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Latvian</string>
		<key>nativeName</key>
		<string>Latviešu</string>
	</dict>
	<key>mg</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Malagasy</string>
		<key>nativeName</key>
		<string>Malagasy</string>
	</dict>
	<key>ms</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Malay</string>
		<key>nativeName</key>
		<string>Melayu</string>
	</dict>
	<key>mt</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Maltese</string>
		<key>nativeName</key>
		<string>Il-Malti</string>
	</dict>
	<key>mww</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Hmong Daw</string>
		<key>nativeName</key>
		<string>Hmong Daw</string>
	</dict>
	<key>nb</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Norwegian</string>
		<key>nativeName</key>
		<string>Norsk</string>
	</dict>
	<key>nl</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Dutch</string>
		<key>nativeName</key>
		<string>Nederlands</string>
	</dict>
	<key>otq</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Querétaro Otomi</string>
		<key>nativeName</key>
		<string>Querétaro Otomi</string>
	</dict>
	<key>pl</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Polish</string>
		<key>nativeName</key>
		<string>Polski</string>
	</dict>
	<key>pt</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Portuguese</string>
		<key>nativeName</key>
		<string>Português</string>
	</dict>
	<key>ro</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Romanian</string>
		<key>nativeName</key>
		<string>Română</string>
	</dict>
	<key>ru</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Russian</string>
		<key>nativeName</key>
		<string>Русский</string>
	</dict>
	<key>sk</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Slovak</string>
		<key>nativeName</key>
		<string>Slovenčina</string>
	</dict>
	<key>sl</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Slovenian</string>
		<key>nativeName</key>
		<string>Slovenščina</string>
	</dict>
	<key>sm</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Samoan</string>
		<key>nativeName</key>
		<string>Samoan</string>
	</dict>
	<key>sr-Cyrl</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Serbian (Cyrillic)</string>
		<key>nativeName</key>
		<string>srpski (ćirilica)</string>
	</dict>
	<key>sr-Latn</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Serbian (Latin)</string>
		<key>nativeName</key>
		<string>srpski (latinica)</string>
	</dict>
	<key>sv</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Swedish</string>
		<key>nativeName</key>
		<string>Svenska</string>
	</dict>
	<key>sw</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Kiswahili</string>
		<key>nativeName</key>
		<string>Kiswahili</string>
	</dict>
	<key>ta</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Tamil</string>
		<key>nativeName</key>
		<string>தமிழ்</string>
	</dict>
	<key>te</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Telugu</string>
		<key>nativeName</key>
		<string>తెలుగు</string>
	</dict>
	<key>th</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Thai</string>
		<key>nativeName</key>
		<string>ไทย</string>
	</dict>
	<key>tlh</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Klingon</string>
		<key>nativeName</key>
		<string>Klingon</string>
	</dict>
	<key>to</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Tongan</string>
		<key>nativeName</key>
		<string>lea fakatonga</string>
	</dict>
	<key>tr</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Turkish</string>
		<key>nativeName</key>
		<string>Türkçe</string>
	</dict>
	<key>ty</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Tahitian</string>
		<key>nativeName</key>
		<string>Tahitian</string>
	</dict>
	<key>uk</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Ukrainian</string>
		<key>nativeName</key>
		<string>Українська</string>
	</dict>
	<key>ur</key>
	<dict>
		<key>dir</key>
		<string>rtl</string>
		<key>name</key>
		<string>Urdu</string>
		<key>nativeName</key>
		<string>اردو</string>
	</dict>
	<key>vi</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Vietnamese</string>
		<key>nativeName</key>
		<string>Tiếng Việt</string>
	</dict>
	<key>yua</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Yucatec Maya</string>
		<key>nativeName</key>
		<string>Yucatec Maya</string>
	</dict>
	<key>yue</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Cantonese (Traditional)</string>
		<key>nativeName</key>
		<string>粵語 (繁體中文)</string>
	</dict>
	<key>zh-Hans</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Chinese Simplified</string>
		<key>nativeName</key>
		<string>简体中文</string>
	</dict>
	<key>zh-Hant</key>
	<dict>
		<key>dir</key>
		<string>ltr</string>
		<key>name</key>
		<string>Chinese Traditional</string>
		<key>nativeName</key>
		<string>繁體中文</string>
	</dict>
</dict>
</plist>
