~$screen metric calculations.xlsx
**/Podfile.lock
**/.DS_Store
**/bookmarks.plist
**/Breakpoints_v2.*
**/UserInterfaceState.*
**/WorkspaceSettings.*
**/xcschememanagement.plist
**/*.xcscheme
AppBox3.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
