[submodule "External/QuickDialog"]
	path = External/QuickDialog
	url = https://github.com/Steven-Gwug/QuickDialog.git
[submodule "External/AutoLayoutShorthand"]
	path = External/AutoLayoutShorthand
	url = https://github.com/rentzsch/AutoLayoutShorthand.git
[submodule "External/FontAwesomeIconFactory"]
	path = External/FontAwesomeIconFactory
	url = https://github.com/nschum/FontAwesomeIconFactory.git
[submodule "External/KBPopupBubble"]
	path = External/KBPopupBubble
	url = https://github.com/psholtz/KBPopupBubble.git
