[submodule "External/NSDate-TimeAgo"]
	path = External/NSDate-TimeAgo
	url = https://github.com/kevinlawler/NSDate-TimeAgo.git
[submodule "External/Masonry"]
	path = External/Masonry
	url = https://github.com/Steven-Gwug/Masonry.git
[submodule "External/FXPageControl"]
	path = External/FXPageControl
	url = https://github.com/Steven-Gwug/FXPageControl.git
[submodule "External/FMMoveTableView"]
	path = External/FMMoveTableView
	url = https://github.com/Steven-Gwug/FMMoveTableView.git
[submodule "External/MMDrawerController"]
	path = External/MMDrawerController
	url = https://github.com/Steven-Gwug/MMDrawerController.git
[submodule "External/NSDate-Extensions"]
	path = External/NSDate-Extensions
	url = https://github.com/Steven-Gwug/NSDate-Extensions.git
[submodule "External/FXLabel"]
	path = External/FXLabel
	url = https://github.com/Steven-Gwug/FXLabel.git
[submodule "External/HTCopyableLabel"]
	path = External/HTCopyableLabel
	url = https://github.com/Steven-Gwug/HTCopyableLabel.git
[submodule "External/DKLiveBlur"]
	path = External/DKLiveBlur
	url = https://github.com/Steven-Gwug/DKLiveBlur.git
[submodule "External/AFNetworking"]
	path = External/AFNetworking
	url = https://github.com/Steven-Gwug/AFNetworking.git
[submodule "External/UbiquityStoreManager"]
	path = External/UbiquityStoreManager
	url = https://github.com/lhunath/UbiquityStoreManager.git
[submodule "External/MBProgressHUD"]
	path = External/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "External/JNJProgressButton"]
	path = External/JNJProgressButton
	url = https://github.com/jnjosh/JNJProgressButton.git
[submodule "External/MagicalRecord"]
	path = External/MagicalRecord
	url = https://github.com/magicalpanda/MagicalRecord.git
[submodule "External/JVFloatLabeledTextField"]
	path = External/JVFloatLabeledTextField
	url = https://github.com/Steven-Gwug/JVFloatLabeledTextField.git
[submodule "External/MWPhotoBrowser"]
	path = External/MWPhotoBrowser
	url = https://github.com/Steven-Gwug/MWPhotoBrowser.git
[submodule "External/TSMiniWebBrowser"]
	path = External/TSMiniWebBrowser
	url = https://github.com/Steven-Gwug/TSMiniWebBrowser.git
