<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YEAR_FROM</key>
	<string>2014</string>
	<key>YEAR_TO</key>
	<string>2017</string>
	<key>Y2014</key>
	<array>
		<array>
			<string>Purim (Tel Aviv)</string>
			<date>2014-03-16T00:00:00Z</date>
		</array>
		<array>
			<string>Shushan Purim (Jerusalem)</string>
			<date>2014-03-17T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach I (First day of Passover)</string>
			<date>2014-04-15T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach II (Passover)</string>
			<date>2014-04-16T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach III (Passover)</string>
			<date>2014-04-17T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach IV (Passover)</string>
			<date>2014-04-18T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach V (Passover)</string>
			<date>2014-04-19T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VI (Passover)</string>
			<date>2014-04-20T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VII (Last day of Passover)</string>
			<date>2014-04-21T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaShoah/Holocaust Memorial Day</string>
			<date>2014-04-28T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaZikaron (Memorial Day)</string>
			<date>2014-05-05T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaAtzmaut (Independence Day)</string>
			<date>2014-05-06T00:00:00Z</date>
		</array>
		<array>
			<string>Shavuot (Pentecost)</string>
			<date>2014-06-04T00:00:00Z</date>
		</array>
		<array>
			<string>Tisha B&apos;Av</string>
			<date>2014-08-05T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana (New Year)</string>
			<date>2014-09-25T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana II (New Year day 2)</string>
			<date>2014-09-26T00:00:00Z</date>
		</array>
		<array>
			<string>Yom Kippur</string>
			<date>2014-10-04T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot I</string>
			<date>2014-10-09T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot II</string>
			<date>2014-10-10T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot III</string>
			<date>2014-10-11T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot IV</string>
			<date>2014-10-12T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot V</string>
			<date>2014-10-13T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VI</string>
			<date>2014-10-14T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VII/Hoshanah Rabah</string>
			<date>2014-10-15T00:00:00Z</date>
		</array>
		<array>
			<string>Shmini Atzeret/Simchat Torah</string>
			<date>2014-10-16T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah I (Holiday of lights)</string>
			<date>2014-12-17T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah II</string>
			<date>2014-12-18T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah III</string>
			<date>2014-12-19T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah IV</string>
			<date>2014-12-20T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah V</string>
			<date>2014-12-21T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VI/Rosh Chodesh Tevet</string>
			<date>2014-12-22T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VII</string>
			<date>2014-12-23T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VIII</string>
			<date>2014-12-24T00:00:00Z</date>
		</array>
	</array>
	<key>Y2015</key>
	<array>
		<array>
			<string>Purim (Tel Aviv)</string>
			<date>2015-03-05T00:00:00Z</date>
		</array>
		<array>
			<string>Shushan Purim (Jerusalem)</string>
			<date>2015-03-06T00:00:00Z</date>
		</array>
		<array>
			<string>Election Day</string>
			<date>2015-03-17T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach I (First day of Passover)</string>
			<date>2015-04-04T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach II (Passover)</string>
			<date>2015-04-05T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach III (Passover)</string>
			<date>2015-04-06T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach IV (Passover)</string>
			<date>2015-04-07T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach V (Passover)</string>
			<date>2015-04-08T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VI (Passover)</string>
			<date>2015-04-09T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VII (Last day of Passover)</string>
			<date>2015-04-10T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaShoah/Holocaust Memorial Day</string>
			<date>2015-04-16T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaZikaron (Memorial Day)</string>
			<date>2015-04-22T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaAtzmaut (Independence Day)</string>
			<date>2015-04-23T00:00:00Z</date>
		</array>
		<array>
			<string>Shavuot (Pentecost)</string>
			<date>2015-05-24T00:00:00Z</date>
		</array>
		<array>
			<string>Tisha B&apos;Av</string>
			<date>2015-07-26T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana (New Year)</string>
			<date>2015-09-14T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana II (New Year day 2)</string>
			<date>2015-09-15T00:00:00Z</date>
		</array>
		<array>
			<string>Yom Kippur</string>
			<date>2015-09-23T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot I</string>
			<date>2015-09-28T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot II</string>
			<date>2015-09-29T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot III</string>
			<date>2015-09-30T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot IV</string>
			<date>2015-10-01T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot V</string>
			<date>2015-10-02T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VI</string>
			<date>2015-10-03T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VII/Hoshanah Rabah</string>
			<date>2015-10-04T00:00:00Z</date>
		</array>
		<array>
			<string>Shmini Atzeret/Simchat Torah</string>
			<date>2015-10-05T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah I (Holiday of lights)</string>
			<date>2015-12-07T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah II</string>
			<date>2015-12-08T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah III</string>
			<date>2015-12-09T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah IV</string>
			<date>2015-12-10T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah V</string>
			<date>2015-12-11T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VI/Rosh Chodesh Tevet</string>
			<date>2015-12-12T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VII</string>
			<date>2015-12-13T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VIII</string>
			<date>2015-12-14T00:00:00Z</date>
		</array>
	</array>
	<key>Y2016</key>
	<array>
		<array>
			<string>Purim (Tel Aviv)</string>
			<date>2016-03-24T00:00:00Z</date>
		</array>
		<array>
			<string>Shushan Purim (Jerusalem)</string>
			<date>2016-03-25T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach I (First day of Passover)</string>
			<date>2016-04-23T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach II (Passover)</string>
			<date>2016-04-24T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach III (Passover)</string>
			<date>2016-04-25T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach IV (Passover)</string>
			<date>2016-04-26T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach V (Passover)</string>
			<date>2016-04-27T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VI (Passover)</string>
			<date>2016-04-28T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VII (Last day of Passover)</string>
			<date>2016-04-29T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaShoah/Holocaust Memorial Day</string>
			<date>2016-05-05T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaZikaron (Memorial Day)</string>
			<date>2016-05-11T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaAtzmaut (Independence Day)</string>
			<date>2016-05-12T00:00:00Z</date>
		</array>
		<array>
			<string>Yom Yerushalayim (Jerusalem Day)</string>
			<date>2016-06-05T00:00:00Z</date>
		</array>
		<array>
			<string>Shavuot (Pentecost)</string>
			<date>2016-06-12T00:00:00Z</date>
		</array>
		<array>
			<string>Tisha B&apos;Av</string>
			<date>2016-08-14T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana (New Year)</string>
			<date>2016-10-03T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana II (New Year day 2)</string>
			<date>2016-10-04T00:00:00Z</date>
		</array>
		<array>
			<string>Yom Kippur</string>
			<date>2016-10-12T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot I</string>
			<date>2016-10-17T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot II</string>
			<date>2016-10-18T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot III</string>
			<date>2016-10-19T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot IV</string>
			<date>2016-10-20T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot V</string>
			<date>2016-10-21T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VI</string>
			<date>2016-10-22T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VII/Hoshanah Rabah</string>
			<date>2016-10-23T00:00:00Z</date>
		</array>
		<array>
			<string>Shmini Atzeret/Simchat Torah</string>
			<date>2016-10-24T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaAliyah</string>
			<date>2016-11-08T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah I (Holiday of lights)</string>
			<date>2016-12-25T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah II</string>
			<date>2016-12-26T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah III</string>
			<date>2016-12-27T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah IV</string>
			<date>2016-12-28T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah V</string>
			<date>2016-12-29T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VI/Rosh Chodesh Tevet</string>
			<date>2016-12-30T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VII</string>
			<date>2016-12-31T00:00:00Z</date>
		</array>
	</array>
	<key>Y2017</key>
	<array>
		<array>
			<string>Hanukkah VIII</string>
			<date>2017-01-01T00:00:00Z</date>
		</array>
		<array>
			<string>Purim (Tel Aviv)</string>
			<date>2017-03-12T00:00:00Z</date>
		</array>
		<array>
			<string>Shushan Purim (Jerusalem)</string>
			<date>2017-03-13T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach I (First day of Passover)</string>
			<date>2017-04-11T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach II (Passover)</string>
			<date>2017-04-12T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach III (Passover)</string>
			<date>2017-04-13T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach IV (Passover)</string>
			<date>2017-04-14T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach V (Passover)</string>
			<date>2017-04-15T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VI (Passover)</string>
			<date>2017-04-16T00:00:00Z</date>
		</array>
		<array>
			<string>Pesach VII (Last day of Passover)</string>
			<date>2017-04-17T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaShoah/Holocaust Memorial Day</string>
			<date>2017-04-24T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaZikaron (Memorial Day)</string>
			<date>2017-05-01T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaAtzmaut (Independence Day)</string>
			<date>2017-05-02T00:00:00Z</date>
		</array>
		<array>
			<string>Yom Yerushalayim (Jerusalem Day)</string>
			<date>2017-05-24T00:00:00Z</date>
		</array>
		<array>
			<string>Shavuot (Pentecost)</string>
			<date>2017-05-31T00:00:00Z</date>
		</array>
		<array>
			<string>Tisha B&apos;Av</string>
			<date>2017-08-01T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana (New Year)</string>
			<date>2017-09-21T00:00:00Z</date>
		</array>
		<array>
			<string>Rosh Hashana II (New Year day 2)</string>
			<date>2017-09-22T00:00:00Z</date>
		</array>
		<array>
			<string>Yom Kippur</string>
			<date>2017-09-30T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot I</string>
			<date>2017-10-05T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot II</string>
			<date>2017-10-06T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot III</string>
			<date>2017-10-07T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot IV</string>
			<date>2017-10-08T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot V</string>
			<date>2017-10-09T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VI</string>
			<date>2017-10-10T00:00:00Z</date>
		</array>
		<array>
			<string>Sukkot VII/Hoshanah Rabah</string>
			<date>2017-10-11T00:00:00Z</date>
		</array>
		<array>
			<string>Shmini Atzeret/Simchat Torah</string>
			<date>2017-10-12T00:00:00Z</date>
		</array>
		<array>
			<string>Yom HaAliyah</string>
			<date>2017-10-27T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah I (Holiday of lights)</string>
			<date>2017-12-13T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah II</string>
			<date>2017-12-14T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah III</string>
			<date>2017-12-15T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah IV</string>
			<date>2017-12-16T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah V</string>
			<date>2017-12-17T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VI/Rosh Chodesh Tevet</string>
			<date>2017-12-18T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VII</string>
			<date>2017-12-19T00:00:00Z</date>
		</array>
		<array>
			<string>Hanukkah VIII</string>
			<date>2017-12-20T00:00:00Z</date>
		</array>
	</array>
</dict>
</plist>
