<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>YEAR_FROM</key>
	<string>2017</string>
	<key>YEAR_TO</key>
	<string>2018</string>
	<key>2017</key>
	<array>
		<array>
			<string>Duruthu Full Moon Poya Day</string>
			<date>2017-01-01T00:00:00Z</date>
		</array>
		<array>
			<string>Tamil Thai Pongal Day</string>
			<date>2017-01-14T00:00:00Z</date>
		</array>
		<array>
			<string>National Day</string>
			<date>2017-02-04T00:00:00Z</date>
		</array>
		<array>
			<string>Navam Full Moon Poya Day</string>
			<date>2017-02-10T00:00:00Z</date>
		</array>
		<array>
			<string>Valentine&apos;s Day</string>
			<date>2017-02-14T00:00:00Z</date>
		</array>
		<array>
			<string>Mahasivarathri Day</string>
			<date>2017-02-24T00:00:00Z</date>
		</array>
		<array>
			<string>Adhi Madin Full Moon Poya Day</string>
			<date>2017-03-12T00:00:00Z</date>
		</array>
		<array>
			<string>Madin Full Moon Poya Day</string>
			<date>2017-03-12T00:00:00Z</date>
		</array>
		<array>
			<string>Bak Full Moon Poya Day</string>
			<date>2017-04-10T00:00:00Z</date>
		</array>
		<array>
			<string>Sinhala and Tamil New Year&apos;s Eve</string>
			<date>2017-04-12T00:00:00Z</date>
		</array>
		<array>
			<string>Sinhala and Tamil New Year&apos;s Day</string>
			<date>2017-04-13T00:00:00Z</date>
		</array>
		<array>
			<string>Good Friday</string>
			<date>2017-04-14T00:00:00Z</date>
		</array>
		<array>
			<string>Easter Sunday</string>
			<date>2017-04-16T00:00:00Z</date>
		</array>
		<array>
			<string>Labour Day</string>
			<date>2017-05-01T00:00:00Z</date>
		</array>
		<array>
			<string>Vesak Full Moon Poya Day</string>
			<date>2017-05-10T00:00:00Z</date>
		</array>
		<array>
			<string>Day after Vesak Full Moon Poya Day</string>
			<date>2017-05-11T00:00:00Z</date>
		</array>
		<array>
			<string>Mother&apos;s Day</string>
			<date>2017-05-14T00:00:00Z</date>
		</array>
		<array>
			<string>Poson Full Moon Poya Day</string>
			<date>2017-06-08T00:00:00Z</date>
		</array>
		<array>
			<string>Father&apos;s Day</string>
			<date>2017-06-18T00:00:00Z</date>
		</array>
		<array>
			<string>Eid-al-Fitr (End of Ramadan)</string>
			<date>2017-06-26T00:00:00Z</date>
		</array>
		<array>
			<string>Adhi Esala Full Moon Poya Day</string>
			<date>2017-07-08T00:00:00Z</date>
		</array>
		<array>
			<string>Nikini Full Moon Poya Day</string>
			<date>2017-08-07T00:00:00Z</date>
		</array>
		<array>
			<string>Eid-al-Adha (Feast of Sacrifice)</string>
			<date>2017-09-02T00:00:00Z</date>
		</array>
		<array>
			<string>Binara Full Moon Poya Day</string>
			<date>2017-09-05T00:00:00Z</date>
		</array>
		<array>
			<string>Vap Full Moon Poya Day</string>
			<date>2017-10-05T00:00:00Z</date>
		</array>
		<array>
			<string>Deepavali</string>
			<date>2017-10-18T00:00:00Z</date>
		</array>
		<array>
			<string>Il Full Moon Poya Day</string>
			<date>2017-11-03T00:00:00Z</date>
		</array>
		<array>
			<string>Milad-Un-Nabi (Holy Prophet&apos;s Birthday)</string>
			<date>2017-12-01T00:00:00Z</date>
		</array>
		<array>
			<string>Unduvap Full Moon Poya Day</string>
			<date>2017-12-03T00:00:00Z</date>
		</array>
		<array>
			<string>Christmas Eve (R)</string>
			<date>2017-12-24T00:00:00Z</date>
		</array>
		<array>
			<string>Christmas (G)</string>
			<date>2017-12-25T00:00:00Z</date>
		</array>
	</array>
	<key>2018</key>
	<array>
		<array>
			<string>Duruthu Full Moon Poya Day</string>
			<date>2018-01-01T00:00:00Z</date>
		</array>
		<array>
			<string>Tamil Thai Pongal Day</string>
			<date>2018-01-14T00:00:00Z</date>
		</array>
		<array>
			<string>Adhi Duruthu Full Moon Poya Day</string>
			<date>2018-01-31T00:00:00Z</date>
		</array>
		<array>
			<string>National Day</string>
			<date>2018-02-04T00:00:00Z</date>
		</array>
		<array>
			<string>Mahasivarathri Day</string>
			<date>2018-02-14T00:00:00Z</date>
		</array>
		<array>
			<string>Valentine&apos;s Day</string>
			<date>2018-02-14T00:00:00Z</date>
		</array>
		<array>
			<string>Madin Full Moon Poya Day</string>
			<date>2018-03-01T00:00:00Z</date>
		</array>
		<array>
			<string>Good Friday</string>
			<date>2018-03-30T00:00:00Z</date>
		</array>
		<array>
			<string>Adhi Madin Full Moon Poya Day</string>
			<date>2018-03-31T00:00:00Z</date>
		</array>
		<array>
			<string>Easter Sunday</string>
			<date>2018-04-01T00:00:00Z</date>
		</array>
		<array>
			<string>Sinhala and Tamil New Year&apos;s Eve</string>
			<date>2018-04-13T00:00:00Z</date>
		</array>
		<array>
			<string>Sinhala and Tamil New Year&apos;s Day</string>
			<date>2018-04-14T00:00:00Z</date>
		</array>
		<array>
			<string>Bak Full Moon Poya Day</string>
			<date>2018-04-29T00:00:00Z</date>
		</array>
		<array>
			<string>Labour Day</string>
			<date>2018-05-01T00:00:00Z</date>
		</array>
		<array>
			<string>Mother&apos;s Day</string>
			<date>2018-05-13T00:00:00Z</date>
		</array>
		<array>
			<string>Vesak Full Moon Poya Day</string>
			<date>2018-05-29T00:00:00Z</date>
		</array>
		<array>
			<string>Day after Vesak Full Moon Poya Day</string>
			<date>2018-05-30T00:00:00Z</date>
		</array>
		<array>
			<string>Eid-al-Fitr (End of Ramadan)</string>
			<date>2018-06-15T00:00:00Z</date>
		</array>
		<array>
			<string>Father&apos;s Day</string>
			<date>2018-06-17T00:00:00Z</date>
		</array>
		<array>
			<string>Poson Full Moon Poya Day</string>
			<date>2018-06-27T00:00:00Z</date>
		</array>
		<array>
			<string>Adhi Esala Full Moon Poya Day</string>
			<date>2018-07-27T00:00:00Z</date>
		</array>
		<array>
			<string>Eid-al-Adha (Feast of Sacrifice)</string>
			<date>2018-08-22T00:00:00Z</date>
		</array>
		<array>
			<string>Nikini Full Moon Poya Day</string>
			<date>2018-08-26T00:00:00Z</date>
		</array>
		<array>
			<string>Binara Full Moon Poya Day</string>
			<date>2018-09-24T00:00:00Z</date>
		</array>
		<array>
			<string>Vap Full Moon Poya Day</string>
			<date>2018-10-24T00:00:00Z</date>
		</array>
		<array>
			<string>Deepavali</string>
			<date>2018-11-06T00:00:00Z</date>
		</array>
		<array>
			<string>Milad-Un-Nabi (Holy Prophet&apos;s Birthday)</string>
			<date>2018-11-21T00:00:00Z</date>
		</array>
		<array>
			<string>Unduvap Full Moon Poya Day</string>
			<date>2018-12-22T00:00:00Z</date>
		</array>
		<array>
			<string>Christmas Eve (R)</string>
			<date>2018-12-24T00:00:00Z</date>
		</array>
		<array>
			<string>Christmas (G)</string>
			<date>2018-12-25T00:00:00Z</date>
		</array>
	</array>
</dict>
</plist>
